<div class="container">
       
    <form action="" method="post">

        <div class="form-label-group">
            <input type="emai" id="email" name="email" class="form-control" required="">
            <label for="email">Adresse email</label>
        </div>

        <div class="form-label-group">
            <input type="passwod" id="password" name="password" class="form-control" required="">
            <label for="password">Mot de passe</label>
        </div>

        <div class="mb-3"><a href="/reset-password" class="link-unstyled">Mot de passe oublié ?</a></div>

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me" value="remember-me"> Rester connecté
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit" name="login-btn">Connexion</button>
    </form>
    
</div>