<%- include('menu_choose.ejs'); -%>

<div class="container">
    <div class="col-6 offset-3 mb-5 mt-5">
        <h2 class="text-center brand pb-4 pt-4">Hygie</h2>
    </div>
</div>

<%- include('re_login.ejs'); -%>