<div class="container">
   <div class="profil text-center">
        <img src="/images/accounts/user.png" alt="">
        <div class="mt-3"> <h4>Jonh Doe</h4> </div>
   </div>
</div>


<div class="container">
    <div class="touchid text-center">
        <img src="/icons/touchID.svg" alt="">
        <div class="mt-3"><a href="./logout" class="link-unstyled gray-color">Ce n'est pas vous ?</a></div>
    </div>
</div>