<div class="card" style="background: #353A50">
    <div class="card-body">
        <h5 class="card-title text-light">Gérer ma famille</h5>
        <ul class="d-flex list-unstyled">
            <li class=""> 
                <img src="/images/accounts/family_1.jpg" alt="..." class="rounded-circle" width="48px">
                <span>HHH</span>
            </li>
            <li class=""> 
                <img src="/images/accounts/family_2.jpg" alt="..." class="rounded-circle" width="48px">
                <span>HHH</span>
            </li>
            <li class=""> 
                <img src="/images/accounts/family_3.jpg" alt="..." class="rounded-circle" width="48px">
                <span>HHH</span>
            </li>
        </ul>
        <p class="card-text gray-color">Gérer votre famille vous permet de créer un compte pour chaque membre de votre famille et de centraliser les informations.</p>
    </div>
</div>


<img src="<%= qrcode %>" alt="">