
<svg id="appbar" width="0" height="0" viewBox="0 0 72 36" xmlns="http://www.w3.org/2000/svg">
    <clipPath id="appbar__cutout">
      <path d="M36 36C55.8823 36 72 19.8823 72 0V112H0V0C0 19.8823 16.1177 36 36 36Z" />
    </clipPath>
  </svg>
  
    
    

      <div class="appbar appbar__bottom appbar__bottom--center-cut mt-1">
        <a href="javacript:void(0)" class="appbar__bottom--fab appbar__bottom--fab-primary" title="add" aria-label="Add">
          <img src="images/navbar/home.svg" alt="">
        </a>
        
        <div  class="appbar__bottom--normal ml-2">
          <a href="javascript:void(0)">
            <img class="nav_active" src="images/navbar/Map.svg" alt="">   
          </a>
          <a href="javascript:void(0)">
            <img src="images/navbar/question.svg" alt="">        
          </a>
        </div>
        
        <div class="appbar__bottom--cutout">
        </div>
        
        <div class="appbar__bottom--normal flex--right mr-2">
          <a href="javascript:void(0)">
            <img src="images/navbar/notifications.svg" alt="">             </a>
          <a href="javascript:void(0)">
            <img src="images/navbar/profil.svg" alt="">        
          </a>
        </div>
     
      </div>
   
    
