<div class="d-flex justify-content-between mt-2" style="border-bottom: solid 1px #F4F4F6 !important">
    <div class="ml-4"><span>9:41</span></div>
    <div class="d-flex mr-2">
        <div class="ml-1"><img src="/icons/Cellular Connection.svg" alt=""></div>
        <div class="ml-1"><img src="/icons/Wifi.svg" alt=""></div>
        <div class="ml-1"><img src="/icons/Battery.svg" alt=""></div>
    </div>
</div>