

<div class="container carousel ml-3">
    <div class="profil text-center mt-5 mb-5">
        <img class="rounded-circle" src="/images/accounts/user.png" alt="">
    </div>
    <div class="profil text-center mt-5 mb-5">
        <img class="rounded-circle" src="/images/accounts/family_1.jpg" alt="">
    </div>
    <div class="profil text-center mt-5 mb-5">
        <img class="rounded-circle" src="/images/accounts/family_2.jpg" alt="">
    </div>
</div>
<div class="container">
    <div class="input-group mb-3 div_home">
        <a href="/urgences">
            <div class="input-group-prepend">
                <span class="input-group-text"> <img src="images/icon/hospital.svg" alt=""> </span>
                Préparer mon entrée aux urgences
              </div></a>
        
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text"> <img src="images/icon/stéthoscope.svg" alt=""> </span>
        </div>
        <button type="text" class="form-control" placeholder ="Salut ça va">Voici mes symptômes : Est ce que c'est urgent?</button>
      </div>
</div>
