.new-profil {width: 48px;height: 48px;padding-top: 5px;}
.new-profil, .new-profil:visited, .new-profil:hover, .new-profil:active, .new-profil:focus, .new-profil:active:hover {font-size: 2em;}

#compte .view p, #general .view p {margin: 5px 0;}