.menu-choose a, .menu-choose a:hover {font-weight: 600;color: var(--gray-color) !important;border-top: solid 1px #F4F4F6 !important; border-bottom: solid 1px #F4F4F6 !important;}
.menu-choose a:nth-child(1) {border-right: solid 1px #F4F4F6;}
.menu-choose a:nth-child(2) {border-left: solid 1px #F4F4F6;}
.menu-choose a .active {color: var(--black-color);}

.menu-bot-bar {width: 100%;background: var(--primary-color);height: 6px;}

.brand {font-weight: 600;color: var(--black-color) !important;}

.profil img {width: 40%;}
.touchid {margin-top: 15vh;}
.touchid img {width: 10%;}


