.profil img {width: 40%;}
.profil h4 {color: var(--black-color);}
.carousel {
    margin: 0 auto;
    width:200px;
    height: 300px;
    display: relative;
  }
  .carousel img {
    display: hidden; /* hide images until carousel prepares them */
    cursor: pointer; /* not needed if you wrap carousel items in links */
  }