@charset "utf-8";
body, html, textarea {font-family: canada-type-gibson, sans-serif;}
.link-unstyled, .link-unstyled:visited, .link-unstyled:hover, .link-unstyled:active, .link-unstyled:focus, .link-unstyled:active:hover {font-style: inherit;color: inherit;background-color: transparent;font-size: inherit;text-decoration: none;font-variant: inherit;font-weight: inherit;line-height: inherit;font-family: inherit;border-radius: inherit;border: inherit;outline: inherit;box-shadow: inherit;padding: inherit;vertical-align: inherit;}

:root {
    --primary-color: #70CCDB;
    --gray-color: #959DAD;
    --black-color: #454F63;

    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
}

.body {height: 85%;overflow: scroll;}
.f-body {height: 95%;overflow: scroll;}
.hide {display: none;}
.cursor {cursor: pointer;}

.primary-color {color: var(--primary-color);}
.gray-color {color: var(--gray-color);}
.black-color {color: var(--black-color);}

.primary-bg {background: var(--primary-color);}
.gray-bg {background: var(--gray-color);}
.black-bg {background: var(--black-color);}
.nav_active path {fill:var(--primary-color);}

.cst-card-sm, .cst-card-sm:visited, .cst-card-sm:hover, .cst-card-sm:active, .cst-card-sm:focus, .cst-card-sm:active:hover {border-radius: 6px;box-shadow: 0px 8px 22px 7px hsla(0, 0%, 0%, 0.05);padding: 10px 15px;}
.cst-card-sm .lft {padding-top: 5px;padding-right: 10px;border-right: solid 2px #F4F4F6;}
.cst-card-sm .rgt {margin-left: 5px;padding-top: 5px}
.cst-card-sm .rgt input {width: 160%;border: none;}

.cst-card {border-radius: 10px;box-shadow: 0px 8px 19px 5px hsla(0, 0%, 0%, 0.05);padding: 10px 15px;}
.cst-card .card-title {border-bottom: solid 1px #F4F4F6 !important;padding-bottom: 10px;margin-bottom: 20px;}
.cst-card .card-title .title {font-weight: 600;}
.cst-card .card-title .edit-btn {cursor: pointer;}

.profil img {width: 40%;}
.profil h4 {color: var(--black-color);}
.profil span {color: var(--gray-color);}





/* Form  */
  
.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: 0 auto;
}
  
.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}
  
.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}
  
.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}
  
.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}
  
.form-label-group input::-ms-input-placeholder {
    color: transparent;
}
  
.form-label-group input::-moz-placeholder {
    color: transparent;
}
  
.form-label-group input::placeholder {
    color: transparent;
}
  
.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}
  
.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #777;
}





:root {
    --primary: #263238;
    --primary-light: #4F5B62;
    --primary-dark: #000A12;
    --secondary: #DD2C00;
    --secondary-light: #FF6434;
    --secondary-dark: #A30000;
    --tertiary: #2962FF;
    --tertiary-light: #768FFF;
    --tertiary-dark: #0039CB;
    --primary-text-on-primary: white;
    --primary-text-on-primary-light: white;
    --primary-text-on-primary-dark: white;
    --primary-text-on-secondary: white;
    --primary-text-on-secondary-light: black;
    --primary-text-on-secondary-dark: white;
    --primary-text-on-tertiary: white;
    --primary-text-on-tertiary-light: black;
    --primary-text-on-tertiary-dark: white;
    --primary-text-on-light: black;
    --primary-text-on-dark: white;
    --secondary-text-on-primary: rgba(255, 255, 255, 0.5);
    --secondary-text-on-primary-light: rgba(255, 255, 255, 0.71);
    --secondary-text-on-primary-dark: rgba(255, 255, 255, 0.45);
    --secondary-text-on-secondary: rgba(255, 255, 255, 0.97);
    --secondary-text-on-secondary-light: rgba(0, 0, 0, 0.68);
    --secondary-text-on-secondary-dark: rgba(255, 255, 255, 0.71);
    --secondary-text-on-tertiary: rgba(255, 255, 255, 0.94);
    --secondary-text-on-tertiary-light: rgba(0, 0, 0, 0.68);
    --secondary-text-on-tertiary-dark: rgba(255, 255, 255, 0.66);
    --secondary-text-on-light: rgba(0, 0, 0, 0.56);
    --secondary-text-on-dark: rgba(255, 255, 255, 0.57);
    --disabled-text-on-primary: rgba(255, 255, 255, 0.35);
    --disabled-text-on-primary-light: rgba(255, 255, 255, 0.49);
    --disabled-text-on-primary-dark: rgba(255, 255, 255, 0.34);
    --disabled-text-on-secondary: rgba(255, 255, 255, 0.72);
    --disabled-text-on-secondary-light: rgba(0, 0, 0, 0.5);
    --disabled-text-on-secondary-dark: rgba(255, 255, 255, 0.53);
    --disabled-text-on-tertiary: rgba(255, 255, 255, 0.65);
    --disabled-text-on-tertiary-light: rgba(0, 0, 0, 0.5);
    --disabled-text-on-tertiary-dark: rgba(255, 255, 255, 0.48);
    --disabled-text-on-light: rgba(0, 0, 0, 0.43);
    --disabled-text-on-dark: rgba(255, 255, 255, 0.39);
    --error-text-on-light: #b71c1c;
    --error-text-on-dark: #ef9a9a;
    --border-color-on-light: rgba(0, 0, 0, 0.12);
    --border-color-on-dark: rgba(255, 255, 255, 0.12);
    --border-width-small: 0.0625rem;
    --border-width-medium: 0.1875rem;
    --border-secondary-color-on-light: rgba(0, 0, 0, 0.38);
    --border-secondary-color-on-dark: rgba(255, 255, 255, 0.5);
    --border-on-light: rgba(0, 0, 0, 0.12) solid 0.0625rem;
    --border-on-dark: rgba(255, 255, 255, 0.12) solid 0.0625rem;
    --primary-background: #EEEEEE;
    --secondary-background: #424242;
    --root-font-size: 16;
  }
  
  :root {
    font-size: calc(var(--root-font-size) * 1px);
  }
  
  .container__example {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-color: white;
    width: 100%;
    min-width: 18.75rem;
    height: 12.5rem;
    overflow: hidden;
    border: 0.0625rem solid rgba(0, 0, 0, 0.24);
    border-radius: 0.5rem;
  }
  .container__example:last-child {
    grid-column: 1 / -1;
  }
  .container .description {
    font-family: 'Roboto Slab';
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0.5rem 1rem;
  }
  
  h1 {
    font-family: 'Roboto Slab';
    font-weight: 400;
  }
  
  .appbar {
    width: 100%;
    min-height: 3.5rem;
  }
  .appbar__bottom {
    position: relative;
    display: grid;
    width: 100%;
    color: white;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  .appbar__bottom--normal {
    display: flex;
    align-items: center;
    /* background-color: var(--primary); */
    padding-left:20px;
  }
  .appbar__bottom--normal a {
    will-change: color;
    transition: color 170ms ease-out;
    display: inline-block;
    margin: 0 0.25rem;
    padding: 0.5rem;
    color: var(--secondary-text-on-primary);
    font-size: 0;
    text-decoration: none;
  }
  .appbar__bottom--normal a:hover, .appbar__bottom--normal a:focus {
    color: var(--primary-text-on-primary);
  }
  .appbar__bottom--spacer {
    background-color: var(--primary);
  }
  .appbar__bottom--cutout {
    width: 4.5rem;
    max-width: 4.5rem;
    /* background: var(--primary); */
  }
  .appbar__bottom--fab {
    will-change: box-shadow, transform;
    -webkit-transform: box-shadow 170ms ease-out;
            transform: box-shadow 170ms ease-out;
    position: absolute;
    top: -50%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.5rem;
    height: 3.5rem;
    padding: 0;
    /* background-color: var(--secondary); */
    color: var(--primary-text-on-primary);
    border-radius: 50%;
    /* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12); */
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  .appbar__bottom--fab-end {
    left: auto;
    right: 1rem;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  /* .appbar__bottom--fab:hover, .appbar__bottom--fab:focus {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  } */
  .appbar__bottom--no-cut {
    grid-template: auto / 1fr 1fr;
  }
  .appbar__bottom--center-cut {
    grid-template: auto/1fr 4.5rem 1fr;
    box-shadow: -1px -7px 26px 2px hsla(0, 0%, 0%, 0.04);
  }
  .appbar__bottom--end-no-cut {
    grid-template: auto / 1fr;
  }
  .appbar__bottom--end-cut {
    grid-template: auto/1fr 4.5rem 0.5rem;
  }
  .appbar__bottom--no-fab {
    grid-template: auto / 1fr 1fr;
  }
  .appbar a {
    text-decoration: none;
  }
  
  .flex--right {
    justify-content: flex-end;
    padding-right:20px;
  }