<div id="step_e" class="hide mt-3">
    <div class="container">
        <form action="" method="post">
            <div class="cst-card-sm d-flex">
                <div class="lft"> <i class="fas fa-thermometer-half"></i> </div>
                <div class="rgt">
                    <input type="text" name="question" placeholder="À combien estimez-vous votre douleur ?" required id="inp-step-e-symp" data-val="symptome">
                </div>
            </div>
        </form>
    </div>
</div>

<div class="container">
    <a href="/suivi/reference/1" class="btn btn-lg btn-primary btn-block hide mt-3" id="send_btn-symptome">Validation</a>
</div>
