<div class="container">
        <div class="row">
          <div class="col-sm">
                <div class="cst-card mt-3">
                        <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title primary-color">Profil patient</span>
                            </h5>
                <div class="cst-card mt-3">
                        <div class="card-body">
                            <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title">Contact</span>
                                <span class="edit-btn"><i class="far fa-edit"></i></span>
                            </h5>
                       
                        <div class=row>
                            <div class="col-sm">
                                    <img src="/images/accounts/user.png" alt="">
                            </div>
                         
                        
                            <div class="col-sm ">
                                    <h2 class="black-color">John Doe</h2>
                                    <p>15 rue de Rivoli, Paris, 1er</p>
                                    <p>06 71 62 63 01</p>
                                    <p>24/07/1998</p>

                                </div>
                        </div>
                    </div>
                </div>
                <div class="cst-card mt-3">
                        <div class="card-body">
                            <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title">Général</span>
                                <span class="edit-btn"><i class="far fa-edit"></i></span>
                            </h5>
                            <div class="view">
                                    <p><span class="mr-2 font-weight-bolder">Sexe : </span> Homme</p>
                                    <p><span class="mr-2 font-weight-bolder">Taille : </span> 1M95</p>
                                    <p><span class="mr-2 font-weight-bolder">Poids : </span> 75 kg</p>
                                    <p><span class="mr-2 font-weight-bolder">Groupe sanguin : </span> O-</p>
                            </div>
                    </div>
                </div>
                <div class="cst-card mt-3">
                        <div class="card-body">
                            <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title">Médicaments</span>
                                <span class="edit-btn"><i class="far fa-edit"></i></span>
                            </h5>
                            <div class="view">
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Lisopaine</p>
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Advil</p>
                            </div>
                    </div>
                </div>
                <div class="cst-card mt-3">
                        <div class="card-body">
                            <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title">Médecin traitant</span>
                                <span class="edit-btn"><i class="far fa-edit"></i></span>
                            </h5>
                            <div class="view">
                                    <p>Dr Eric Guillem</p>
                                    <p>11 rue de la victoire, Marseille</p>
                                    <p>06 29 89 18 29</p>

                            </div>
                    </div>
                </div>
                <div class="cst-card mt-3">
                        <div class="card-body">
                            <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title">Vaccin</span>
                                <span class="edit-btn"><i class="far fa-edit"></i></span>
                            </h5>
                            <div class="view">
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Tétatnos</p>
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Coqueluche</p>
                            </div>
                    </div>
                </div>
                </div>
          </div>
          <div class="col-sm">
                <div class="cst-card mt-3">
                        <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title primary-color">Raisons de l'hospitalisation</span>
                            </h5>
                <div class="cst-card mt-3">
                        <div class="card-body">
                            <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title">Récapitulatif</span>
                                <span class="edit-btn"><i class="far fa-edit"></i></span>
                            </h5>
                            <div class="view">
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Mal de tête</p>
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Nausée</p>
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Depuis 1 jour</p>
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Douleur 4/10 </p>

                            </div>
                    </div>
                </div>
            </div>
                <div class="cst-card mt-3">
                        <div class="card-body">
                            <h5 class="card-title black-color d-flex justify-content-between">
                                <span class="title primary-color">Antécédents patient</span>
                            </h5>
                            <div class="view cst-card">
                                    <p>19/08/2015</p>
                                    <p>Hôpital Hôtel-Dieu</p>
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Appendicite</p>
                            </div>
                        </br>
                            <div class="view cst-card">
                                    <p>26/01/2017</p>
                                    <p>Hôpital Pitié Salpêtrière</p>
                                    <p><span <i class="fas fa-circle gray-color"></span></i></span> Fracture des ligaments croisés</p>
                            </div>
                    </div>
                </div>
          </div>
      
        </div>
      </div>