<div class="container">
    <div class="col-6 offset-3 mt-5">
        <h2 class="text-center brand">Hygie</h2>
    </div>
</div>

<div class="container">
    <div class="profil text-center mt-5 mb-5">
        <img src="/images/accounts/user.png" alt="">
        <h4 class="mt-3 black-color font-weight-bolder">Votre situation n'est pas urgente ! <br> Nous vous recommandons plutôt à prendre rendez-vous avec votre médecin traitant : </h4>
    </div>
</div>

<div class="container text-center">
    <a href="3" class="btn btn-lg btn-primary btn-block">Prendre rendez-vous</a>
</div>