<div class="container pt-3 pb-3 text-right">
    <a href="../../" class="link-unstyled"> <i class="far fa-times-circle fa-lg"></i> </a>
</div>


<div class="container">
    
    <div class="cst-card mt-5">
        <div class="card-body">
            <h5 class="card-title black-color d-flex justify-content-between">
                <span class="title">Médecin traitant</span>
            </h5>
            
            <div>afficher le médecin</div>

        </div>
    </div>

    <div class="cst-card mt-5">
        <div class="card-body">
            <h5 class="card-title black-color d-flex justify-content-between">
                <span class="title">Carte</span>
            </h5>
            
            <div id="map"> </div>
            
        </div>
    </div>

    <div class="cst-card mt-5">
        <div class="card-body">
            <h5 class="card-title black-color d-flex justify-content-between">
                <span class="title">Récapitulatif</span>
            </h5>
            
            <div>afficher le récap</div>
            
        </div>
    </div>

</div>