<div class="container pt-3 pb-3 text-right">
    <a href="../../" class="link-unstyled"> <i class="far fa-times-circle fa-lg"></i> </a>
</div>


<div class="container">
    
    <div class="cst-card mt-5">
        <div class="card-body">
            <h5 class="card-title black-color d-flex justify-content-between">
                <span class="title">Médecin traitant</span>
            </h5>
            
            <div class="view mb-4">
                <p style="margin: 5px 0;">Dr Eric Guillem</p>
                <p style="margin: 5px 0;">11 rue de la victoire, Marseille</p>
                <p style="margin: 5px 0;">06 29 89 18 29</p>
            </div>

            <div class="container mb-3">
                <img src="/images/calendar.jpg" alt="" width="100%">
            </div>

            <div class="container text-center">
                <a href="3" class="btn btn-primary btn-block">Prendre rendez-vous</a>
            </div>

        </div>
    </div>

    <div class="cst-card mt-5">
        <div class="card-body">
            <h5 class="card-title black-color d-flex justify-content-between">
                <span class="title">Carte</span>
            </h5>
            
            <div id="map"> </div>
            
        </div>
    </div>

    <div class="cst-card mt-5 mb-5">
        <div class="card-body">
            <h5 class="card-title black-color d-flex justify-content-between">
                <span class="title">Récapitulatif</span>
            </h5>
            
            <div class="view mb-4">
                <p style="margin: 5px 0;">Mal de tête</p>
                <p style="margin: 5px 0;">Nausée</p>
                <p style="margin: 5px 0;">Depuis 1 jour</p>
                <p style="margin: 5px 0;">Douleur 4 / 10</p>
            </div>

        </div>
    </div>

</div>