<div id="step_4" class="hide mt-3">
    <div class="container">
        <form action="" method="post">
            <div class="cst-card-sm d-flex">
                <div class="lft"> <i class="fas fa-calendar-alt"></i> </div>
                <div class="rgt">
                    <input type="text" name="question" placeholder="Depuis combien de temps ? " required id="inp-step-4-symp" data-val="urgence">
                </div>
            </div>
        </form>
    </div>
</div>

<%- include('step_5'); -%>
